<template>
  <div class="listBox" v-on:click="select()" style="background-color:#ffffff; height: 40px; cursor:pointer;">
    <div style="color:white; font-size:10px; width:15px; height:15px; background-color:#fff; border-radius: 4px; border:solid 2px #0072ff; margin-left:15px;"
    v-bind:style="[location.selected ? {backgroundColor:'#0072ff'} : '']">
      &#10004;
    </div>
    <div style="margin-right:15px;">
      {{this.location.name}}
    </div>
  </div>
</template>

<script>

export default {
  name: 'DropSelectItem',
  props: ['location'],
  data () {
    return {
      selected: this.location.selected
    }
  },
  methods: {
    select: function () {
      this.location.selected = !this.location.selected
    }
  },
  components: {

  }
}
</script>

<style scoped>
.listBox {
  color: #2c3e50;
  margin-top: 2px;
  width:100%;
  height:80px;
  background-color: #e2e2e2;
  align-items: center;
  justify-content: space-between;
  display:flex;
}

.listBox li {
  width:100%;
}

.eventText {
  text-align: left;
  width:35%;
  padding-left:5%;
}

.eventInfo {
  width:20%;
}

.eventTextSecond {
  font-size: 80%;
}
</style>
