<template>
  <div style="position:absolute; left:0px; top:0px; width: 100%;">
    <div v-on:click="switchDisplay" class="menuBack" v-bind:style="[this.showInfo ? {display: 'block'} : '']"></div>
    <div v-on:click="switchDisplay" class="openMenu">Venue</div>
    <div v-if="showInfo" class="dropBox">
      <div v-on:click="switchDisplay" class="openMenu">Venue</div>
      <div style="display:flex;">
        <div class="smallButton" v-on:click="selectAll()">Select All</div>
        <div class="smallButton" v-on:click="unselectAll()">Unselect All</div>
      </div>
      <div v-for="(location, index) in this.options" :key="location + index">
        <DropSelectItem :location="location"/>
      </div>
    </div>
  </div>
</template>

<script>

import DropSelectItem from './DropSelectItem'

export default {
  name: 'DropSelect',
  props: ['options'],
  data () {
    return {
      name: 'test',
      showInfo: false
    }
  },
  methods: {
    switchDisplay: function () {
      this.showInfo = !this.showInfo
    },
    selectAll: function () {
      for (var i = 0; i < this.options.length; i++) {
        this.options[i].selected = true
      }
    },
    unselectAll: function () {
      for (var i = 0; i < this.options.length; i++) {
        this.options[i].selected = false
      }
    }
  },
  components: {
    DropSelectItem
  }
}
</script>

<style scoped>

  .menuBack {
    width:100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.0);
    position:fixed;
    top:0px;
    left:0px;
    display: none;
  }

  .smallButton {
    width:50%;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    margin: 1px;
    margin-bottom: 0px;
    padding: 5px 0px;
  }

  .smallButton:hover {
    color: #0072ff;
  }

  .openMenu {
    background-color: #ffffff;
    cursor: pointer;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .openMenu:hover {
    color: #0072ff;
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .dropBox {
    user-select: none;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    background-color:#eee;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
</style>
