<template>
  <div class="listBox">
    <div class="eventText">
      <div id="eventName" class="eventTextMain">{{ name }}</div>
      <div class="eventTextSecond">{{ venue }}</div>
    </div>
    <div id="eventDate" class="eventInfo">{{ date }}</div>
    <div id="eventSeats" class="eventInfo">{{ available_seats }}</div>
    <div id="eventPrice" class="eventInfo">${{ price }}</div>
  </div>
</template>

<script>

export default {
  name: 'ListItem',
  props: ['listInfo'],
  data () {
    return {
      name: this.listInfo.name,
      venue: this.listInfo.venue,
      date: new Date(Date.parse(this.listInfo.date)).toLocaleDateString('en-GB'),
      price: this.listInfo.price,
      available_seats: this.listInfo.available_seats,
      labels: this.listInfo.labels
    }
  },
  components: {

  }
}
</script>

<style>
.listBox {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 0px;
  width:100%;
  height:80px;
  background-color: #efefef;
  background-color: rgba(0,0,0,0);
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  align-items: center;
  justify-content: space-around;
  display:flex;
}

.listBox li {
  width:100%;
}

.eventText {
  text-align: left;
  width:35%;
  padding-left:5%;
}

.eventInfo {
  width:20%;
}

.eventTextMain {
  font-weight: 600;
}

.eventTextSecond {
  font-size: 80%;
}
</style>
