<template>
  <div class="organiser">
    <div style="width:100%; display:flex; padding-bottom: 20px; position:relative; height: 40px;">
      <input placeholder="Search" v-model="searchFor" v-on:input="filteredAndSorted">
      <div style="position:relative; width:50%;">
        <DropSelect :options="locationObjects"/>
      </div>
    </div>
    <div style="width:100%; display:flex;">
      <div class="organiseBy" style="width:40%;" v-on:click="sortSet('event')" v-bind:style="[sortTypes.event.active ? {borderBottom:'3px solid #0072ff'} : '']">Event</div>
      <div class="organiseBy" v-on:click="sortSet('date')" v-bind:style="[sortTypes.date.active ? {borderBottom:'3px solid #0072ff'} : '']">Date</div>
      <div class="organiseBy" v-on:click="sortSet('seats')" v-bind:style="[sortTypes.seats.active ? {borderBottom:'3px solid #0072ff'} : '']">Seats</div>
      <div class="organiseBy" v-on:click="sortSet('price')" v-bind:style="[sortTypes.price.active ? {borderBottom:'3px solid #0072ff'} : '']">Price</div>
    </div>
    <ul style="display:flex; justify-content:center; flex-direction:column; width:100%; align-items:center;">
      <li v-for="(event, index) in filteredAndSorted(this.searchFor)" :key="event.name + index">
        <ListItem :list-info="event"/>
      </li>
    </ul>
  </div>
</template>

<script>
import ListItem from './ListItem'
import DropSelect from './DropSelect'

export default {
  name: 'Organiser',
  props: ['events'],
  data: function () {
    return {
      searchFor: '',
      valueSorted: [],
      sortType: 'name',
      sortTypes: {
        event: {
          active: true,
          decending: false
        },
        date: {
          active: false,
          decending: false
        },
        seats: {
          active: false,
          decending: false
        },
        price: {
          active: false,
          decending: false
        }
      },
      locationObjects: []
    }
  },
  watch: {
    events: function () {
      this.locationObjects = this.createLocationObjects()
    }
  },
  methods: {
    sortSet: function (type) {
      this.sortType = type

      if (this.sortTypes[type].active) {
        this.sortTypes[type].decending = !this.sortTypes[type].decending
      }

      this.activeSort()
      this.sortTypes[type].active = true
    },
    activeSort: function () {
      for (var key in this.sortTypes) {
        this.sortTypes[key].active = false
      }
    },
    createLocationObjects: function () {
      var locationObjects = []
      var locations = []

      for (var key in this.events) {
        if (locations.indexOf(this.events[key].venue) === -1) {
          locations.push(this.events[key].venue)
          locationObjects.push({
            name: this.events[key].venue,
            selected: true
          })
        }
      }

      return locationObjects
    },
    filteredAndSorted: function (searchString) {
      var events = []

      events = JSON.parse(JSON.stringify(this.events))

      var des = false

      if (typeof this.sortTypes[this.sortType] !== 'undefined') {
        des = this.sortTypes[this.sortType].decending
      }

      switch (this.sortType) {
        case 'event':
          events = this.sortByName(this.events, des)
          break
        case 'price':
          events = this.sortByPrice(this.events, des)
          break
        case 'seats':
          events = this.sortBySeats(this.events, des)
          break
        case 'date':
          events = this.sortByDate(this.events, des)
          break
        default:
          events = this.sortByName(this.events, des)
          break
      }

      events = events.filter(this.filterNoSeats)

      if (searchString.length > 0) {
        events = events.filter(this.filterNameTagLocation)
      }

      events = events.filter(this.filterVenue)

      return events
    },
    filterNoSeats: function (event) {
      if (event.available_seats > 0) {
        return event
      }
    },
    filterVenue: function (event) {
      for (var key in this.locationObjects) {
        if (this.locationObjects[key].name === event.venue && this.locationObjects[key].selected === true) {
          return event
        }
      }

      return null
    },
    filterNameTagLocation: function (event) {
      var checkArray = [
        event.name.toLowerCase(),
        event.venue.toLowerCase()
      ]

      var i = 0

      for (i = 0; i < event.labels.length; i++) {
        checkArray.push(event.labels[i].toLowerCase())
      }

      for (i = 0; i < checkArray.length; i++) {
        if (checkArray[i].indexOf(this.searchFor.toLowerCase()) !== -1) {
          return event
        }
      }

      return null
    },
    sortByName: function (events, des) {
      events = JSON.parse(JSON.stringify(events))

      events.sort(function (a, b) {
        if (des) {
          return a.name[0] < b.name[0]
        } else {
          return a.name[0] > b.name[0]
        }
      })
      return events
    },
    sortByPrice: function (events, des) {
      events = JSON.parse(JSON.stringify(events))

      events.sort(function (a, b) {
        if (des) {
          return a.price < b.price
        } else {
          return a.price > b.price
        }
      })
      return events
    },
    sortBySeats: function (events, des) {
      events = JSON.parse(JSON.stringify(events))

      events.sort(function (a, b) {
        if (des) {
          return a.available_seats < b.available_seats
        } else {
          return a.available_seats > b.available_seats
        }
      })
      return events
    },
    sortByDate: function (events, des) {
      events = JSON.parse(JSON.stringify(events))

      events.sort(function (a, b) {
        var aDate = new Date(Date.parse(a.date)).getTime()
        var bDate = new Date(Date.parse(b.date)).getTime()

        if (isNaN(aDate)) { aDate = Number.MAX_SAFE_INTEGER }
        if (isNaN(bDate)) { bDate = Number.MAX_SAFE_INTEGER }

        if (des) {
          return aDate < bDate
        } else {
          return aDate > bDate
        }
      })

      return events
    }
  },
  computed: {

  },
  components: {
    ListItem,
    DropSelect
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

input {
  width:calc(50% - 40px);
  height:20px;
  padding: 20px;
  font-size: 1em;
}

.organiseBy {
  padding: 15px 0px;
  width: 20%;
  cursor: pointer;
  border-bottom: 3px solid #ccc;
  user-select: none;
}

.organiser {
  max-width:500px;
  margin: 0 auto;
  position: relative;
  top: 5%;
  padding-bottom: 20px;
}

h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0px;
}
li {
  display: inline-block;
  margin: 0 10px;
  width:100%;
}
a {
  color: #42b983;
}
</style>
