<template>
  <div id="app">
    <Organiser :events="events"/>
  </div>
</template>

<script>
import Organiser from './components/Organiser'
import axios from 'axios'

export default {
  name: 'App',
  data: function () {
    return {
      events: []
    }
  },
  created: function () {
    axios.get('https://s3-ap-southeast-2.amazonaws.com/bridj-coding-challenge/events.json')
      .then(response => {
        this.events = response.data.events
      })
      .catch(error => {
        console.log(error)
      })
  },
  components: {
    Organiser
  }
}
</script>

<style>

body, html {
  margin: 0px;
  padding: 0px;
  height:100%;
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  width:100%;
  height:100%;
}
</style>
